*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-content{
    background-color: #00203FFF;
    padding-bottom: 20px;
    min-height: 100vh;
    max-height: auto;
}

.main-header{
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    color: #ADEFD1FF;
}

.main-buttons{
    display: flex;
    justify-content: space-between;
}

.new-task{
    margin-right: 10px;
    padding: 5px;
    display: flex;
    background-color: #00203FFF;
    color: #ADEFD1FF;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #ADEFD1FF;
}

.new-task a{
    text-decoration: none;
    color: inherit;
}

.new-task:hover{
    background-color: #ADEFD1FF;
    color: #00203FFF;
    border-color: #ADEFD1FF;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00203FFF;
    color: #ADEFD1FF;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ADEFD1FF;
    cursor: pointer;
    border-radius: 5px;
}

  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ADEFD1FF;
    color: #00203FFF;
}

  /* The container <div> - needed to position the dropdown content */
.filter {
    position: relative;
    float: right;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00203FFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border: 2px solid #ADEFD1FF;
    right: 0;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: #ADEFD1FF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ADEFD1FF;
    color: #00203FFF;
}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

.tasks{
    margin: 10px auto;
}

.task{
    border: 2px solid #00203FFF;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    border-radius: 5px;
}

.task:hover{
    background-color: #00203FFF;
    color: #ADEFD1FF;
    border-color: #ADEFD1FF;
}

.task-title{
    width: 20%;
    flex-wrap: wrap;
    margin-right: 20px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
.task-title h3 {
    font-size: 30px;
}
.task{
    padding: 10px 20px;
}
.tasks{
    width: 75%;
}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.task-title h3 {
    font-size: 18px;
}
.task{
    padding:10px;
}
.tasks{
    width: 90%;
}
}

.task-title a{
    text-decoration: none;
    color: inherit;
}

.task-title a:hover{
    text-decoration: underline;
}

.task-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
}

.task-buttons a{
    text-decoration: none;
    border: 2px solid #00203FFF;
    border-radius: 50%;
    padding: 5px 7px;
    color: inherit;
}

.task-buttons a:hover{
    color: #00203FFF;
    background-color: #ADEFD1FF;
    border-color: #ADEFD1FF;
}

#high-pri{
    color: red;
}

#med-pri{
    color: orange;
}

#low-pri{
    color: yellow;
}

