<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% include 'navbar.html' %}
</head>
<body>
    <div class="main-content">
        <div class="edit_task_form">
            <form action="{% url 'edit_task' id=task_id %}", method="post">
            {% csrf_token %}
                <h1>Edit Task</h1>
                <div class="form-group">
                    <label for="exampleFormControlInput1">New Title:</label>
                    <input type="text" name='title' class="form-control" id="exampleFormControlInput1" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">New Priority:</label>
                    <select class="form-control" name="priority" id="exampleFormControlSelect1" value="{{priority}}">
                        <option value= 1 >High</option>
                        <option value= 2 >Medium</option>
                        <option value= 3 >Low</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">New Description:</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3">{{description}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update Task</button>
            </form>
        </div>
    </div>
</body>
</html>